<form [formGroup]="form">
  <div>
    <label for="username">Username</label> <br />
    <input type="text" id="username" formControlName="username" />
  </div>
  <div>
    <label for="password">Password</label> <br />
    <input type="password" id="password" formControlName="password" />
  </div>
  <div>
    <label for="passwordV">Repeat Password</label> <br />
    <input type="password" id="passwordV" formControlName="passwordV" />
  </div>
  <div>
    <label for="email">E-mail Address</label> <br />
    <input type="email" id="email" formControlName="email" />
  </div>
</form>
